@{
    ViewBag.Title = "Welcome";
}

@section featured {
    @*
    save this space for some announcement
    *@
}

@using (Html.BeginForm())
{
    <section data-ng-view class="clearfix">
    </section>
}
