
<div class="login-box">
    <h2>{{greeting}}</h2>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div>
        <a href="#">Forgot Password?</a>
        <a href="#">Register</a>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</div>